{% assign canonical_site_url = site.production_url | default: site.url | replace: "http://", "https://" %}
{% assign site_url = canonical_site_url %}
{% assign page_url = page.url | absolute_url | replace: site.url, canonical_site_url %}
{% assign person_name = site.data.person.name | default: site.title %}
{% assign person_id = site_url | append: "/#person" %}
{% assign website_id = site_url | append: "/#website" %}

{% include structured-data/website.html %}
{% include structured-data/profile.html %}
{% include structured-data/article.html %}
{% include structured-data/series.html %}
{% include structured-data/collections.html %}
{% include structured-data/item-lists.html %}
